.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li a,
.pagination li span {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.pagination li.active span {
    font-weight: bold;
}